html	{
	font-size: 10px;
}

body	{

	background-color:#000;
	font-family: Din Round Pro, Helvetica, Arial, sans-serif;
	color: #737373;
	font-weight: 400;
	font-size: 20px;
	
	line-height: 1.2em;
	cursor: default;
	
	-webkit-font-feature-settings: 'tnum';
	-moz-font-feature-settings: 'tnum';
	-ms-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';

	overflow-x:hidden;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

.container_aktuelles{
     position: absolute;
     top:100px;
     left:calc(50% - 620px);
     opacity: 0;
     z-index: 1;
     transition:all 0.5s ease;
}

.move_aktuelles{
     top:-200px;
}

.active_aktuelles{
     opacity: 1;
}

.profil_detail{
     width: 100%;
     height:0px;
}

.profil_detail_active{
     height:250px;
}

.profilpic{
     width:34px;
	height:34px;
	border-radius: 50%;
	background-color:#191919;
	position: absolute;
	right:calc(50% - 593px);
	top:8px;
	background: url("../imgs/profilpic.png");
  	background-size: 100% 100%;

	z-index: 99;

}

.profilpic:hover{
	cursor:pointer;
}

.profilbild_big {
     width: 50px;
     height: 50px;
     background: url("../imgs/profilpic.png");
  	background-size: 100% 100%;
}
 
.Name{
	font-size: 12pt;
	position: absolute;
	right:calc(50% - 543px);
	top:12px;
	color: #737373;

	z-index: 99;
}
.profileinst{
	width:300px;
	height:350px;
	background-color:#fafafa;
	position: absolute;
	right:calc(50% - 600px);
	top:-330px;
	transition: all 0.5s ease;
	font-size: 9pt;
	float:left;
	z-index: 98;
     box-shadow: 0px 1px 8px #6a6a6a;
     opacity: 0;

}


.tipp1_profil{
     margin-top: 50px;
     height:52px;
     width:100%;
     font-size: 9pt;
     line-height: 1.6em;
     background-color: #fff;
     border-bottom: 1px solid rgba(0,0,0,0.1);
     border-top: 1px solid rgba(0,0,0,0.1);
}

.logo1_profil{
     width:50px;
	height:50px;
	background-color: #5c7cfc;
	float:left;

	padding:10px;
}

.tipp1_text_nav {
     padding-top: 5px;
}

.guide{
     width:100%;
     height:145px;
}

.aktivitäten {
     padding: 4px;
}


.bars_bez{
     position: absolute;
     top:110px;
     left:10px;
     float: left;
     width: 100%;
}

.bars{
     position: absolute;
     top:102px;
     left:120px;
     float: left;
     width: 100%;
}

.bar_back{
	float:left;
	background-color: #e8e8e8;
	width:100px;
	height:12px;
	border-radius: 3px;
	top: 10px;
}

.inner{
	width:30%;
	background-color: #fbde16;
}

.inner2{
	width:80%;
	background-color: #50a6f2;
}
.inner3{
	width:50%;
	background-color: #50a6f2;
}
.inner4{
	width:0%;
	background-color: #50a6f2;
}

.trennleiste{
	width:100%;
	height:25px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
}

.platzhalter{
	float:left;
	padding: 2px;
	padding-left: 5px;
}

.text{

	position: absolute;
	right: 2%;
}

.konto_klein{
	width:100%;
	height:80px;
	padding:10px;
}

.profilbild_big{
	width: 50px;
	height:50px;
	border-radius:50%;
	background-color: #000;
	float: left;
	margin: 4px;
}

.daten{
	font-size: 8pt;
	line-height: 1.8em;
	position: absolute;
	left: 80px;
	margin-top: 10px;
}

.einstel_konto{
     height:400px;
}

.einstel_trenn{

}

.guide_off{
     display:none;
}

.container_tipps{
	width:320px;
	height:158px;
	position: fixed;
	right:-320px;
	top:70px;
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tipp1{
	width:320px;
	height:50px;
	background-color:#fff;
	opacity:0.9;
	color:#808080;
	font-size: 9pt;
	float:left;
	margin:2px;
     box-shadow: 0px 1px 8px #6a6a6a;

}

.logo1{
	width:50px;
	height:100%;
	background-color: #5c7cfc;
	float:left;
	padding:10px;
}

.tipp2{
	width:320px;
	height:50px;
	background-color:#fff;
	opacity:0.9;
	color:#808080;
	font-size: 9pt;
	float:left;
	margin:2px;
	box-shadow: 0px 1px 8px #6a6a6a;
}

.logo2{
	width:50px;
	height:100%;
	background-color: #67b9f9;
	float:left;
	padding:10px;
}

.showup{
     margin-right:calc(2% + 320px);
}

.active_profil{
	top:0px;
	opacity: 1;
}

.clearfix:after {
     content: "";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.background{
     -webkit-filter: blur(6px); 
     transition:all ease 0.5s;
     text-align: center;
}

.fadeout{
     opacity: 0.9;
}

.container_suche{
     width: 600px;
     height: 150px;
     position: fixed;
     top:200px;
     left:calc(50% - 300px);
     transition:all ease 0.5s;
     z-index: 9;
     font-size: 10pt;
     border-radius: 5px;
     /*box-shadow: 0px 10px 31px #6a6a6a;*/
}

.ergebnisse{
	width:100%;
	height:0px;
	background-color: #fff;
	transition:all ease 0.5s;
	
}

.trennung1{
     width:100%;
     height:1px;
     background-color:rgba(0,0,0,0.1);
}

.ghosts{
     position: absolute;
	display: none;
	color: #7b7b7b;
	font-size: 1.9em;
	padding: 13px 5px 5px 61px;
}

.tag1{
	position: absolute;
	display: none;
	color: #7b7b7b;
	font-size: 1.9em;
	padding: 12px 4px 5px 47px;
}

.buchstabeS{
     width: 100%;
     height:60px;
     
     display:none;
}

#t1{
     margin-left: 100px;
}

#t2{
     margin-left: 50px;
}

#t3{
     margin-left: 220px;
}

#t4{
     margin-left: 200px;
}

#t5{
     margin-left: 225px;
}

.inner1{
	width:100%;
	height:50px;

	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
	font-size: 1.9em;
}

.move_tag{
     margin-left: 50px;
}

.innerstate2{
	padding-left: 10px;
	width:100%;

	height:50px;
	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
	font-size: 1.9em;
}

.buchstabeB{
     width: 100%;
     height:60px;
     
     display:none;
}

.innerstate3{
	width:100%;
	height:50px;
	
	transition:all ease 0.5s;
     padding: 13px 5px 5px 47px;
     font-size: 1.9em;
}

.innerstate4{
	width:100%;
	height:50px;

	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
	font-size: 1.9em;
}

.andereV{
     width: 100%;
     display:none;

	transition:all ease 0.5s;
	font-size: 1.9em;
}

.innerstate5{
	width:100%;
	height:50px;
	
	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
}

.innerstate6{
	width:100%;
	height:50px;
	
	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
}

.innerstate7{
	width:100%;
	height:50px;
	
	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
}
.hover_inner1{
     background-color: #ecf1f0;
}

.active_ergebnisse{
     height:250px;
}

.active_innerstate{
     display: inline;
}

.hover_cont{
     position: absolute;
     top:50px;
     width:100%;
     height: 100px;
     display: none;
     z-index: 99;
}

.hover_cont_on{
     display: block;
}

.suche{
	width:600px;
	height:50px;
	background-color: rgba(255,255,255,0.8);
	transition:all 2s;
	border-radius: 5px 5px 0px 0px;
}

.suche:hover{
     background-color: rgba(236,236,236,0.8);
	cursor: pointer;
}

.suche_nav {
     border-radius: 0;
     background-color: #e5e5e5;
}

.inhalt_fav{
     width: 100%;
     height:50px;
     float: left;
	color: #737373;
     text-align: left;
     
     margin-top:-60px;
     padding-left: 100px;
     font-size: 0.9em;
     
     transition:all 0.5s ease;
}

.fav_off{
     opacity: 0;
}

.favo{
	width:200px;
     height:100px;
     /*background-color:#f2fffb;*/
	float: left;	
	transition:all 0.5s;
}

.fav1{
     background-color: rgba(255,255,255,0.8);
     border-right: 1px solid rgba(0,0,0,0.1);
     border-top: 1px solid rgba(0,0,0,0.1);
     float:left;
     font-size: 8pt;
     border-bottom-left-radius: 5px;
}

.fav2{
	background-color: rgba(255,255,255,0.8);
	border-top: 1px solid rgba(0,0,0,0.1);
}

.fav3{
	background-color: rgba(255,255,255,0.8);
	border-left: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom-right-radius: 5px;
}

.fav_temp {
     font-weight: 500;
     font-size: 30px;
}

.navi{
	width:2500px;
	height:50px;
	position: fixed;
	top:0px;
	left:calc(50% - 1250px);
	transition:all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	box-shadow: 0px 1px 8px #6a6a6a;
	opacity: 0.9;

	z-index: 8;
  	background: url("../imgs/navi.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;

	z-index: 9;

}

.active{
	margin-top: 0px;
	top:0px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(153,153,153,0);
}

.leiste_inactive{
     border-radius: 0px;
     background-color: #e6e6e6;
}

.active_fav{
	height:0px;
	border-top: none;
}

.hover_fav{
	height:100px;
}

.active_suche{
	background-color:#919191; 
	margin-top: 0px;
	top:0px;
}

.active_back{
     display:none;
}

.container_diagramm{
	position: fixed;
	bottom:-130px;
	width:100%;
	height:40px;
	transition:all 1s;
}

.active_dia{
     bottom:0px;
}

.bar{
	width:100%;
	height:40px;
	background-color: #262626;
}

.diagramm{
	position: fixed;
	bottom:-150px;
	width:100%;
	height:150px;
	background-color: #f2fffb;
	transition:all 0.5s ease;
}

.container_vohersage{
	width:100%;
	position: fixed;
	bottom:-550px;
     left:0px;
	transition: all 0.6s ease;
	overflow:scroll;
     white-space: nowrap;
	background-color: rgba(255,255,255,0.8);
}

.karten{
	width:25%;
	height:550px;

	display: -moz-inline-stack;
     display: inline-block;
     zoom: 1;
     *display: inline;
     	
	border-right: 1px solid rgba(0,0,0,0.1);

	transition:all 1s;
	padding-top: 26px;
}

.move_card{
     margin-left:-380px;
}

.off_card{
     display: none;
}

.opacity_card{
     display: inline;
}

.little_card{
	width:6%;
}

.drei_tage{
     width:33%;
}

.sechszehn_tage{
     width:15%;
}

.active_vohersage{
	bottom:-550px;
}

.click_v{
	bottom:40px;
}

.remove_1000{
     display:none;
}

.active_1000{
     width:16%;
}

.active_900{
     width:19%;
}

.active_800{
     width:25%;
}

.active_700{
     width:30%;
}

.scale_back{
     transform:scale(1.1);
}

.scale_back2{
     transform:scale(1.2);
}

.inhalt_karte{
     width:100%;
     position: relative;
     left:10%;
}

/*Vorhersage*/
.front{
	padding-left: 15%;
	padding-top: 10%;

}



.beschreibung{
     padding-left: 60px;
     width:100%;
     height:50px;
     transition:all 0.5s ease;
     text-align: left;
}


.beschreibung_icon{
     width:100%;
     height:50px;
     padding-left:60px;
     transition:all 0.5s ease;
     text-align: left;
}

.vorhersage_temperatur{
     width:100%;
     height:50px;
     padding-left: 60px;
     text-align: left;
     transition:all 0.5s ease;
     font-size: 50pt;
}

.beschreibung_icon{
     width:100%;
     height:50px;
     padding-left:60px;
     text-align: left;
}

.vorhersage_temperatur{
     width:100%;
     height:50px;
     padding-left: 60px;
     text-align: left;
     font-size: 50pt;
}

.icon_holder{
     width:100%;
     height:120px;
	transition:all 0.5s ease;
	text-align: left;
}

.details{
     width:100%;
     height:150px;
     padding-top: 10px;
     padding-left: 60px;
     text-align: left;
     font-size: 9pt;
     transition:all 0.5s ease;
}

.versch_text{
     padding-left:100px;
}



.fav_icon{
	margin-left: 25px;
	margin-top: 25px;

	transition:all 0.5s ease;
}

.baric{
	width:27px;
	height:27px;
	float:left;
	margin: 6.5px;
	color:#fff;
	font-size:7pt;
	text-align: center;
	vertical-align: middle;
	transition: all 0.6s ease;
}

.container_baric{
	position: absolute;
	left:calc(50% - 593px);
}

.regen {
     left: 0;
     top: 0;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_regen_inactive.svg");
  	background-size: 100% 100%;
}

.regen_active {
     background: url("../imgs/icon_regen_active.svg");
}

.unwetter {
     left: 40;
     top: 0;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_unwetter_inactive.svg");
  	background-size: 100% 100%;
}

.unwetter_active {
     background: url("../imgs/icon_unwetter_active.svg");
}

.pollen {
     left: 80;
     top: 0;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_pollen_inactive.svg");
  	background-size: 100% 100%;
}

.pollen_active {
     background: url("../imgs/icon_pollen_active.svg");
}

.wolken {
     left: 120;
     top: 0;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_wolken_inactive.svg");
  	background-size: 100% 100%; 
}

.wolken_active {
     background: url("../imgs/icon_wolken_active.svg");
}

.container_teilung{
	position: absolute;
	right:calc(50% - 593px);
}

.locicon {
     left: 0;
     top: 0;
     height: 27px;
     width: 27px;
  	background: url("../imgs/icon_aktuell_inactive.svg");
  	background-size: 100% 100%;
}

.locicon_active {
     left: 0;
     top: 0;
     height: 27px;
     width: 27px;
     background-size: 100% 100%; 
     background: url("../imgs/icon_aktuell_active.svg");
     position: absolute;
     opacity: 0;
}

.tag1icon {
     left: 40px;
     top: 0;
     height: 27px;
     width: 27px;
  	background: url("../imgs/icon_1tag_inactive.svg");
  	background-size: 100% 100%;
}

.tag1icon_active {
     left: 40px;
     top: 0;
     height: 27px;
     width: 27px;
     background-size: 100% 100%; 
     background: url("../imgs/icon_1tag_active.svg");
     position: absolute;
     opacity: 0;
}

.tage3icon {
     left: 80px;
     top: 0;
     height: 27px;
     width: 27px;
  	background: url("../imgs/icon_3tage_inactive.svg");
  	background-size: 100% 100%;
}

.tage3icon_active {
     left: 80px;
     top: 0;
     height: 27px;
     width: 27px;
     background-size: 100% 100%; 
     background: url("../imgs/icon_3tage_active.svg");
     position: absolute;
     opacity: 0;
}

.tage16icon {
     left: 120px;
     top: 0;
     height: 27px;
     width: 27px;
  	background: url("../imgs/icon_16tage_inactive.svg");
  	background-size: 100% 100%; 
}

.tage16icon_active {
     left: 120px;
     top: 0;
     height: 27px;
     width: 27px;
     background-size: 100% 100%; 
     background: url("../imgs/icon_16tage_active.svg");
     position: absolute;
     opacity: 0;
}

.weicon {
     left: 160px;
     top: 0;
     height: 27px;
     width: 27px;
  	background: url("../imgs/icon_we_inactive.svg");
  	background-size: 100% 100%; 
}

.weicon_active {
     left: 160px;
     top: 0;
     height: 27px;
     width: 27px;
     background-size: 100% 100%; 
     background: url("../imgs/icon_we_active.svg");
     position: absolute;
     opacity: 0;
}

.active_vis {
     opacity: 1;
}

.inactive_vis {
     opacity: 0;
}

.remove_loc{
     background-color:#000;
}

.active_tag1{
     background-color: #fff;
}

.play{
     left:calc(50% - 20px);
     top: 0;
     margin: 7.5px 8.5px 7.5px 8.5px;
     height: 25px;
     width: 23px;
     position: absolute;
  	background: url("../imgs/play_button.svg");
  	background-size: 100% 100%; 
}

.menu_bar{
}

.scroll_container{
	position: absolute;
	top:0px;
	width:100%;
	height:100%;
	overflow: scroll;
	z-index:8;
	display:none;
}

.inner_scroll{
	position: absolute;
	left:calc(50% - 300px);
	width:50%;
	height:5000px;
}

.display_true{
	display:inline;
}

#map-canvas{
     overflow: hidden;
  }

b {
     font-weight: 500;
}

.menu{
     opacity: 0;
     z-index:0;
}

.search_off{
     opacity: 0;
}

.suchicon {
     right: 13px;
     margin: 13px 0px;
     height: 24px;
     width: 27px;
     display: block;
  	background: url("../imgs/suche_icon.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.mylocation{
     margin:17px;
     height: 15px;
     width: 15px;
     display: block;
  	background: url("../imgs/myloc.png");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}


