html	{
	font-size: 10px;
}

body	{

	background-color:#000;
	font-family: Din Round Pro, Helvetica, Arial, sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 20px;

	line-height: 0.8em;
	cursor: default;
	
	-webkit-font-feature-settings: 'tnum';
	-moz-font-feature-settings: 'tnum';
	-ms-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';


	overflow:hidden;


	
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

.profilpic{

		width:30px;
		height:30px;

		border-radius: 50%;

		background-color:#191919;

		position: absolute;

		right:8%;
		top:4px;

		z-index: 2;

	


}
.profileinst{

		width:250px;
		height:40px;

		

		background-color:#f2fffb;

		position: absolute;

		right:60px;
		top:0px;

		z-index: 1;

		transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

		opacity:0.9;
	


}

.container_tipps{
		
		width:320px;
		height:158px;

		position: absolute;

		right:-320px;
		top:70px;
		

	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

	




}


.tipp1{

		width:320px;
		height:50px;

		

		background-color:#f2fffb;

		
		
		z-index: 0;
	
		
		
		

		opacity:0.9;

		color:#808080;

		font-size: 9pt;

		float:left;


		margin:2px;


	box-shadow: 0px 1px 5px #999999;


}

.logo1{
	
		width:50px;
		height:100%;

		background-color: #5c7cfc;

		float:left;

	

		

		

}


.tipp2{

		width:320px;
		height:50px;

		

		background-color:#f2fffb;

		
		
		z-index: 0;
	

		

		opacity:0.9;

		color:#808080;

		font-size: 9pt;

		float:left;

		margin:2px;

		box-shadow: 0px 1px 5px #999999;


	


}

.logo2{
	
		width:50px;
		height:100%;

		background-color: #67b9f9;

		float:left;

		

		

}

.showup{

margin-right:380px;

}

.active_profil{


	height:300px;


}


.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}






.background{


	

 -webkit-filter: blur(6px); 

transition:all ease 0.5s;

text-align: center;
}

.active_karte{

-webkit-filter: blur(0px); 


}

.fadeout{

	opacity: 0.9;


}


.container_suche{

width: 420px;
height:120px;

position: absolute;

top:200px;
left:calc(50% - 210px);

transition:all ease 0.5s;


}


.suche{



		width:420px;
		height:40px;

		background-color: #f2fffb;


		transition:all 2s;

		border-radius: 2px;
		
		opacity: 0.9;


		


}

.favo{

		width:140px;
		height:80px;

		/*background-color:#f2fffb;*/
		float: left;	
		margin-top:40px;

		transition:all 0.5s;






			



}

.fav1{

	background-color: #f2fffb;
	opacity:0.8;

	border-right: 1px solid rgba(0,0,0,0.5);
	


}

.fav2{

	background-color: #f2fffb;
	opacity:0.8;

	


}

.fav3{

	background-color: #f2fffb;
	opacity:0.8;
	
	border-left: 1px solid rgba(0,0,0,0.5);


}




.navi{

		width:100%;
		height:40px;

		background-color: #f2fffb;

		position: absolute;

		opacity: 0.9;




		top:0px;
		left:0px;

		transition:all 600ms cubic-bezier(0.86, 0, 0.07, 1);

		box-shadow: 0px 1px 5px #999999;

}


.active{

			
			margin-top: 0px;
			top:0px;
			



}

.active_fav{

	height:0px;
	




}
.hover_fav{

	height:80px;



}

.active_suche{

	background-color:#ecf1f0; 

			margin-top: 0px;
			top:0px;





}

.active_back{


display:none;



}

.container_diagramm{


	position: absolute;
	bottom:-130px;


	width:100%;
	height:130px;

	transition:all 1s;

	z-index:1;


}

.active_dia{

bottom:0px;



}







.bar{

	width:100%;
	height:40px;

	background-color: #000;

	padding:1px;

}

.diagramm{

	width:100%;

	height:100px;

	background-color: #f2fffb;






}

.container_vohersage{


	width:calc(100% + 100px);

	position: absolute;

	bottom:-550px;
	left:0px;


	

	transition: all 0.6s ease;

	z-index:0;

}


.karten{

	width:14%;
	height:550px;

	background-color: #f2fffb;
	

	border-right: 1px solid rgba(0,0,0,0.1);

	float:left;

	opacity:0.65;

	



}


.active_vohersage{


	bottom:-380px;


}

.click_v{


	bottom:50px;


}

.remove_1000{


display:none;


}

.active_1000{

width:16%;


}

.active_900{


width:19%;


}

.active_800{


width:25%;


}

.active_700{


width:30%;

}

.scale_back{


transform:scale(1.1);

}

.scale_back2{


transform:scale(1.2);

}


<<<<<<< Updated upstream
/*Vorhersage*/
.front{
	padding-left: 15%;
	padding-top: 10%;
}

.vorhersage_icon{
	margin-top: 5%;
	padding-left: -15%;
	/*position: relative;*/
}

h1{
	font-size: 7rem;
	font-weight: 400;
	margin-top: 3.5rem;
	position: relative;
}

h2{
	font-size: 2.5rem;
	font-weight: 200;
}

h3{
   /* position: absolute;
    top: 200px;
    */
    font-weight: 200;
}

h4{
	font-size: 1.5rem;
	font-weight: 200;
}

h5{
	position: absolute;
	margin-top: -.3%;
	margin-left: 6%;
}

.vorhersage_detail{
	margin-top: 40%;
	font-weight: 200;
	font-size: 1.5rem;
	margin-left: auto;
}

.fav_icon{
	margin-left: 10px;
	margin-top: 10px;
}


/*suche*/
.ui-autocomplete-input:focus {color:green;
	border:2px outset green;
}






=======
.baric{

		width:20px;
		height:20px;

		border-radius: 20px;
		border:1px solid #fff;

		float:left;

		margin: 5px;

		color:#fff;

		font-size:7pt;

		text-align: center;

		vertical-align: middle;

		transition: all 0.6s ease;

		



}



.container_baric{

		position: absolute;
		left:8%;

		



}

.container_teilung{

		position: absolute;
		right:8%;

		



}

.loc{

background-color: #fff;

}

.play{

position: absolute;
left:calc(50% + 10px);
bottom:3px;

width: 0;
height: 0;
border-style: solid;
border-width: 10px 0 10px 17.3px;
border-color: transparent transparent transparent #ffffff;
border-radius: 2px;

}

.menu_bar{

	
	


}
>>>>>>> Stashed changes




