html	{
	font-size: 10px;
}

body	{

	background-color:#000;
	font-family: Din Round Pro, Helvetica, Arial, sans-serif;
	color: #737373;
	font-weight: 400;
	font-size: 20px;
	
	line-height: 1.2em;
	cursor: default;
	
	-webkit-font-feature-settings: 'tnum';
	-moz-font-feature-settings: 'tnum';
	-ms-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';

	overflow-x:hidden;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}



.container_aktuelles{
     position: absolute;
     top:70px;
     left:40px;
     opacity: 0;
     z-index: 1;
     transition:all 0.5s ease;
}

.move_aktuelles{
     top:-200px;
}

.active_aktuelles{
     opacity: 1;
}

.profilpic{
     width:35px;
	height:35px;
	border-radius: 50%;
	background-color:#191919;
	position: absolute;
	right: calc(50% - 592px);
	top:7.5px;

}

.profilpic:hover{
	cursor:pointer;
}
 
.Name{
	font-size: 13.5pt;
	position: absolute;
	right: calc(50% - 543px);
	top:12.5px;
}
.profileinst{
	width:300px;
	height:270px;
	background-color:#fafafa;
	position: absolute;
	right:60px;
	top:-300px;
	transition: all 0.5s ease;
	font-size: 9pt;
	float:left;
}


.tipp1_profil{
     height:50px;
     width:100%;
     font-size: 9pt;
     line-height: 1.6em;
     background-color: #fff;
     border-bottom: 1px solid rgba(0,0,0,0.1);
}

.logo1_profil{
     width:50px;
	height:50px;
	background-color: #5c7cfc;
	float:left;

	padding:10px;
}

.guide{
     width:100%;
     height:115px;
}


.bars_bez{
     position: absolute;
     top:60px;
     left:10px;
     float: left;
     width: 100%;
}

.bars{
     position: absolute;
     top:65px;
     left:130px;
     float: left;
     width: 100%;
}

.bar_back{
	float:left;
	background-color: #e8e8e8;
	width:100px;
	height:10px;
	border-radius: 3px;
}

.inner{
	width:30%;
	background-color: #fce544;
}

.inner2{
	width:70%;
	background-color: #79bbf2;
}
.inner3{
	width:80%;
	background-color: #79bbf2;
}
.inner4{
	width:0%;
	background-color: #79bbf2;
}

.trennleiste{
	width:100%;
	height:25px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
}

.platzhalter{
	float:left;
	padding: 2px;
	padding-left: 5px;

}

.text{

	position: absolute;
	right: 2%;
	
}

.konto_klein{
	width:100%;
	height:80px;
	padding:10px;
}

.profilbild_big{
	width: 50px;
	height:50px;
	border-radius:50%;
	background-color: #000;
	float: left;
}

.daten{
	font-size: 8pt;
	line-height: 1.8em;
	position: absolute;
	left: 75px;
}

.einstel_konto{
     height:400px;
}

.einstel_trenn{

}

.guide_off{
     display:none;
}

.container_tipps{
	width:320px;
	height:158px;
	position: fixed;
	right:-320px;
	top:70px;
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tipp1{
	width:320px;
	height:50px;
	background-color:#fff;
	opacity:0.9;
	color:#808080;
	font-size: 9pt;
	float:left;
	margin:2px;
     box-shadow: 0px 1px 5px #999999;
}

.logo1{
	width:50px;
	height:100%;
	background-color: #5c7cfc;
	float:left;
	padding:10px;
}

.tipp2{
	width:320px;
	height:50px;
	background-color:#fff;
	opacity:0.9;
	color:#808080;
	font-size: 9pt;
	float:left;
	margin:2px;
	box-shadow: 0px 1px 5px #999999;
}

.logo2{
	width:50px;
	height:100%;
	background-color: #67b9f9;
	float:left;
	padding:10px;
}

.showup{
     margin-right:380px;
}

.active_profil{
	top:50px;
}

.clearfix:after {
     content: "";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.background{
     -webkit-filter: blur(6px); 
     transition:all ease 0.5s;
     text-align: center;
}

.fadeout{
     opacity: 0.9;
}

.container_suche{
     width: 600px;
     height: 150px;
     position: fixed;
     top:200px;
     left:calc(50% - 300px);
     transition:all ease 0.5s;
     z-index: 9;
     font-size: 10pt;
}

.ergebnisse{
	width:100%;
	height:0px;
	background-color: #fff;
	transition:all ease 0.5s;
}


.ghost1{
	position: absolute;
	display: none;
	opacity: 0.4;
	font-size: 1.9em;
	padding: 13px 5px 5px 61px;
}

.tag1{
	position: absolute;
	display: none;
	opacity: 0.4;
	font-size: 1.9em;
	padding: 13px 5px 5px 61px;
}

.ghost2{
	position: absolute;
	display: none;
	opacity: 0.4;
	font-size: 1.9em;
	padding: 13px 5px 5px 61px;
}

.buchstabeS{
     width: 100%;
     height:60px;
     display:none;
}

.inner1{
	width:100%;
	height:50px;
	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
	font-size: 1.9em;
}
.innerstate2{
	width:100%;
	height:50px;
	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
	font-size: 1.9em;
}

.buchstabeB{
     width: 100%;
     height:60px;
     display:none;
}

.innerstate3{
	width:100%;
	height:50px;
	transition:all ease 0.5s;
     padding: 13px 5px 5px 47px;
     font-size: 1.9em;
}

.innerstate4{
	width:100%;
	height:50px;
	transition:all ease 0.5s;
	padding: 13px 5px 5px 47px;
	font-size: 1.9em;
}

.hover_inner1{
     background-color: #9c9c9c;
}

.active_ergebnisse{
     height:100px;
}

.active_innerstate{
     display: inline;
}

.suche{
	width:600px;
	height:50px;
	background-color: #fff;
	transition:all 2s;
	border-radius: 5px 5px 0px 0px;
	opacity: 0.8;
}

.suche:hover{
     background-color: #e6e6e6;
	cursor: pointer;
}

.favo{
	width:200px;
     height:100px;
     /*background-color:#f2fffb;*/
	float: left;	
	transition:all 0.5s;
}

.fav1{
     background-color: #fff;
     opacity:1;
     border-right: 1px solid rgba(0,0,0,0.1);
     border-top: 1px solid rgba(0,0,0,0.1);
     float:left;
     font-size: 8pt;
     border-bottom-left-radius: 5px;
}

.fav2{
	background-color: #fff;
	opacity:1;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.fav3{
	background-color: #fff;
	opacity:1;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom-right-radius: 5px;
}

.navi{
	width: 2500px;
	height:50px;
	background-color: #fff;
	position: fixed;
	top:0px;
	left: calc(50% - 1250px);
	transition:all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	box-shadow: 0px 1px 5px #999999;
	opacity: 0.9;
	z-index: 9;
  	display: block;
  	background: url("../imgs/navi2.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.active{
	margin-top: 0px;
	top:0px;
	border-radius: 0px;
}

.active_fav{
	height:0px;
}

.hover_fav{
	height:100px;
}

.active_suche{
	background-color:#ecf1f0; 
	margin-top: 0px;
	top:0px;
}

.active_back{
     display:none;
}

.container_diagramm{
	position: fixed;
	bottom:-130px;
	width:100%;
	height:40px;
	transition:all 1s;
}

.active_dia{
     bottom:0px;
}

.bar{
	width:100%;
	height:40px;
	background-color: #262626;
}

.diagramm{
	position: fixed;
	bottom:-150px;
	width:100%;
	height:150px;
	background-color: #f2fffb;
	transition:all 0.5s ease;
}

.container_vohersage{
	width:calc(100% + 2000px);
	position: fixed;
	bottom:-550px;



	
	


     left:0px;


	transition: all 0.6s ease;
	overflow:scroll;
}


.karten{
	width:9%;
	height:550px;


	background-color: rgba(255,255,255,0.65);




	border-right: 1px solid rgba(0,0,0,0.1);
	float:left;


	transition:all 600ms cubic-bezier(0.86, 0, 0.07, 1) ;

	padding-top: 26px;

	



	transition:all 600ms cubic-bezier(0.86, 0, 0.07, 1);

}

.little_card{
	width:6%;
}

.drei_tage{
     width:12%;
}

.sechszehn_tage{
     width:6.5%;
}

.active_vohersage{
	bottom:-550px;
}

.click_v{
	bottom:40px;
}

.remove_1000{
     display:none;
}

.active_1000{
     width:16%;
}

.active_900{
     width:19%;
}

.active_800{
     width:25%;
}

.active_700{
     width:30%;
}

.scale_back{
     transform:scale(1.1);
}

.scale_back2{
     transform:scale(1.2);
}

.inhalt_karte{
     width:100%;
     position: relative;
     left:10%;
}

/*Vorhersage*/
.front{
	padding-left: 15%;
	padding-top: 10%;

}

.beschreibung{




	
padding-left: 60px;
width:100%;
height:50px;
transition:all 0.5s ease;
text-align: left;


}

.beschreibung_icon{

	

width:100%;
height:50px;


padding-left:60px;

transition:all 0.5s ease;
text-align: left;


}

.vorhersage_temperatur{

width:100%;
height:50px;


padding-left: 60px;

text-align: left;

transition:all 0.5s ease;
font-size: 50pt;

}

.beschreibung_icon{
     width:100%;
     height:50px;
     padding-left:60px;
     text-align: left;
}

.vorhersage_temperatur{
     width:100%;
     height:50px;
     padding-left: 60px;
     text-align: left;
     font-size: 50pt;

}



.icon_holder{


width:100%;
height:120px;



	transition:all 0.5s ease;
	text-align: left;


}

.details{


width:100%;
height:150px;

padding-top: 10px;
padding-left: 60px;

text-align: left;

font-size: 9pt;

transition:all 0.5s ease;


}


.versch_text{
     padding-left:100px;
}

.fav_icon{
	margin-left: 10px;
	margin-top: 10px;
}

.baric{
	width:27px;
	height:27px;
	border-radius: 20px;
	border:1px solid #fff;
	float:left;
	margin: 5px;
	color:#fff;
	font-size:7pt;
	text-align: center;
	vertical-align: middle;
	transition: all 0.6s ease;
	padding-bottom: 5px;
}

.baric_regen{
     top: 6.5px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_regen_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_unwetter{
     top: 6.5px;
     left: 40px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_unwetter_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_pollen{
     top: 6.5px;
     left: 80px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_pollen_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_wolken{
     top: 6.5px;
     left: 120px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_wolken_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_aktuell {
     top: 6.5px;
     left: -187px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_aktuell_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_1 {
     top: 6.5px;
     left: -147px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_1tag_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_3 {
     top: 6.5px;
     left: -107px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_3tage_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_16 {
     top: 6.5px;
     left: -67px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_16tage_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.baric_we {
     top: 6.5px;
     left: -27px;
     height: 27px;
     width: 27px;
     display: block;
  	background: url("../imgs/icon_we_inactive.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.container_baric{
	position: absolute;
	left: calc(50% - 592px);
}

.container_teilung{
	position: absolute;
	right: calc(50% - 592px);
}

.loc{
     background-color: #000;
}

.remove_loc{
     background-color:#000;
}

.active_tag1{
     background-color: #fff;
}

.play{
     left:calc(50% - 13px);
     top: 8px;
     height: 24px;
     width: 27px;
     display: block;
  	background: url("../imgs/play_button.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.menu_bar{
}

.scroll_container{
	position: absolute;
	top:0px;
	width:100%;
	height:100%;
	overflow: scroll;
	z-index:8;
	display:none;
}

.inner_scroll{
	position: absolute;
	left:calc(50% - 300px);
	width:50%;
	height:5000px;
}

.display_true{
	display:inline;
}

#map-canvas{
     overflow: hidden;
}

.suchergebnisse{
     width:100%;
     height:200px;
     background-color: #fff;
}

/*GIF Overlays Karte*/
.niederschlagTest{
	position: fixed;
	width: 400px;
	height: 225px;
	top: 300px;
	left: 100px;
	z-index: 10;
}

.search_off{

opacity: 0;



b {
     font-weight: 500;
}

.menu{

}

.suchicon {
     left: 500px;
     top: 8px;
     height: 24px;
     width: 27px;
     display: block;
  	background: url("../imgs/suche_icon.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}

.mylocation{
     left:5px;
     top: 8px;
     height: 24px;
     width: 27px;
     display: block;
  	background: url("../imgs/mylocation.svg");
  	background-size: 100% 100%;
  	position: absolute;
  	overflow: hidden;
}
